body {
  background-image: url(https://i.pinimg.com/564x/b9/69/4f/b9694f07a473d74c1703537004b7087e.jpg);
  background-size: auto 1000px;
  background-repeat: repeat-y;
  font-family: Arial, Helvetica, sans-serif;
  background-color: lightslategray;
}

#root {
  height: 100vh;
}

.image1 {
  border: 5px solid white;
  border-bottom-right-radius: 5%;
  border-top-left-radius: 5%;
}

.main-container {
  min-height: calc(100% - 56px);
}

.border-card {
  background-color: lightslategray;
  border-bottom-right-radius: 5%;
  border-top-left-radius: 5%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.title1 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif,
    "Lucida Sans", Arial, sans-serif;
  font-weight: bolder;
  font-size: 70px;
  color: white;
  text-align: center;
}

.title2 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif,
    "Lucida Sans", Arial, sans-serif;
  font-weight: bolder;
  font-size: 50px;
  color: white;
  text-align: center;
}

.title3 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif,
    "Lucida Sans", Arial, sans-serif;
  font-weight: bolder;
  font-size: 30px;
  color: white;
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
